--INSERT INTO reclamaciones
--VALUES (19355, N'202401 BV', N'05/03/2024 SOLICITA BV, DESACTIVADOS SERVICIOS POR CONTRATO ', CAST(N'2024-03-05T00:00:00.000' AS DateTime), CAST(N'2024-03-05T00:00:00.000' AS DateTime), NULL, NULL, NULL, NULL, N'2', N'1', N'1', 6042, 6, N'jpalaciose', NULL, N'', NULL)
--GO

INSERT INTO reclamaciones
VALUES (19806, N'202401 BV', N'05/03/2024 SOLICITA BV, DESACTIVADOS SERVICIOS POR CONTRATO ', CAST(N'2024-03-05T00:00:00.000' AS DateTime), CAST(N'2024-03-05T00:00:00.000' AS DateTime), NULL, NULL, NULL, NULL, N'2', N'1', N'1', 6042, 6, N'jpalaciose', NULL, N'', NULL)
GO

SELECT * FROM reclamaciones WHERE rclCtrCod=6042