
CREATE TABLE [dbo].[SYR547225_CTRCOD](
	[cobCtr] [int] NOT NULL
) ON [PRIMARY]
GO
INSERT [dbo].[SYR547225_CTRCOD] ([cobCtr]) VALUES (69438)
INSERT [dbo].[SYR547225_CTRCOD] ([cobCtr]) VALUES (109102137)
INSERT [dbo].[SYR547225_CTRCOD] ([cobCtr]) VALUES (110156985)
GO
