USE [ACUAMA_EMMASA]
GO
/****** Object:  Table [dbo].[SYR547225]    Script Date: 13/06/2024 17:21:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYR547225](
	[cobScd] [smallint] NOT NULL,
	[cobPpag] [smallint] NOT NULL,
	[cobNum] [int] NOT NULL,
	[cobFecReg] [datetime] NOT NULL,
	[cobUsr] [varchar](10) NOT NULL,
	[cobFec] [datetime] NOT NULL,
	[cobCtr] [int] NOT NULL,
	[cobNom] [varchar](40) NULL,
	[cobDocIden] [varchar](14) NULL,
	[cobImporte] [money] NOT NULL,
	[cobMpc] [smallint] NOT NULL,
	[cobMpcDato1] [varchar](40) NULL,
	[cobMpcDato2] [varchar](40) NULL,
	[cobMpcDato3] [varchar](40) NULL,
	[cobMpcDato4] [varchar](40) NULL,
	[cobMpcDato5] [varchar](40) NULL,
	[cobMpcDato6] [varchar](40) NULL,
	[cobConcepto] [varchar](50) NULL,
	[cobDevCod] [varchar](4) NULL,
	[cobUsrContabilizacion] [varchar](10) NULL,
	[cobFecContabilizacion] [datetime] NULL,
	[cobComCodigo] [smallint] NULL,
	[cobFecUltMod] [datetime] NULL,
	[cobUsrUltMod] [varchar](10) NULL,
	[cobOrigen] [varchar](20) NULL,
	[cobRclCod] [int] NULL,
	[cblScd] [smallint] NOT NULL,
	[cblPpag] [smallint] NOT NULL,
	[cblNum] [int] NOT NULL,
	[cblLin] [smallint] NOT NULL,
	[cblFacCod] [smallint] NOT NULL,
	[cblPer] [varchar](6) NOT NULL,
	[cblImporte] [money] NOT NULL,
	[cblFacVersion] [smallint] NULL,
	[cblFecPuestaCobro] [datetime] NULL,
	[cldCblScd] [smallint] NULL,
	[cldCblPpag] [smallint] NULL,
	[cldCblNum] [int] NULL,
	[cldCblLin] [smallint] NULL,
	[cldFacLin] [int] NULL,
	[cldTrfSrvCod] [smallint] NULL,
	[cldTrfCod] [smallint] NULL,
	[cldImporte] [money] NULL,
	[cleCblScd] [smallint] NULL,
	[cleCblPpag] [smallint] NULL,
	[cleCblNum] [int] NULL,
	[cleCblLin] [smallint] NULL,
	[clefePdteCod] [int] NULL,
	[clefePdteCtrCod] [int] NULL,
	[clefePdtePerCod] [varchar](6) NULL,
	[clefePdteFacCod] [smallint] NULL,
	[clefePdteScd] [smallint] NULL,
	[efePdteCod] [int] NULL,
	[efePdteCtrCod] [int] NULL,
	[efePdtePerCod] [varchar](6) NULL,
	[efePdteFacCod] [smallint] NULL,
	[efePdteScd] [smallint] NULL,
	[efePdteImporte] [money] NULL,
	[efePdteCCC] [varchar](20) NULL,
	[efePdteTitCCC] [varchar](40) NULL,
	[efePdteDocIdenCCC] [varchar](12) NULL,
	[efePdteFecRemDesde] [datetime] NULL,
	[efePdteUsrCod] [varchar](10) NULL,
	[efePdteFecReg] [datetime] NULL,
	[efePdteFecVencimiento] [datetime] NULL,
	[efePdteDomiciliado] [bit] NULL,
	[efePdteFecRemesada] [datetime] NULL,
	[efePdteUsrRemesada] [varchar](10) NULL,
	[efePdteFecSelRemesa] [datetime] NULL,
	[efePdteUsrSelRemesa] [varchar](10) NULL,
	[efePdteFecRechazado] [datetime] NULL,
	[efePdteUsrRechazado] [varchar](10) NULL,
	[efePdteIban] [varchar](34) NULL,
	[efePdteBic] [varchar](11) NULL,
	[efePdteDirCta] [varchar](200) NULL,
	[efePdtePobCta] [varchar](40) NULL,
	[efePdtePrvCta] [varchar](40) NULL,
	[efePdteCPosCta] [varchar](5) NULL,
	[efePdteNacCta] [varchar](3) NULL,
	[efePdteManRef] [varchar](35) NULL,
	[efePdteRegMarcado] [bit] NULL,
	[efePdteAutTipDoc] [varchar](2) NULL,
	[efePdteAutTitDocIden] [varchar](12) NULL,
	[efePdteAutTitNom] [varchar](100) NULL,
	[efePdteAutTitNacionalidad] [varchar](3) NULL,
	[efePdteAutCalidad] [varchar](40) NULL,
	[efePdtePagoElectronico] [bit] NULL
) ON [PRIMARY]
GO
