USE [ACUAMA_GUADALAJARA_DESA]
GO
/****** Object:  Table [Trabajo].[ApremiosTrab]    Script Date: 10/06/2024 13:34:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Trabajo].[ApremiosTrab](
	[aptUsrCod] [varchar](10) NOT NULL,
	[aptFacCod] [smallint] NOT NULL,
	[aptFacPerCod] [varchar](6) NOT NULL,
	[aptFacCtrCod] [int] NOT NULL,
	[aptFacVersion] [smallint] NOT NULL,
	[aptTipo] [smallint] NOT NULL
) ON [PRIMARY]
GO
INSERT [Trabajo].[ApremiosTrab] ([aptUsrCod], [aptFacCod], [aptFacPerCod], [aptFacCtrCod], [aptFacVersion], [aptTipo]) VALUES (N'gmdesousa', 1, N'000001', 89, 1, 1)
INSERT [Trabajo].[ApremiosTrab] ([aptUsrCod], [aptFacCod], [aptFacPerCod], [aptFacCtrCod], [aptFacVersion], [aptTipo]) VALUES (N'gmdesousa', 1, N'000001', 1941, 1, 1)
INSERT [Trabajo].[ApremiosTrab] ([aptUsrCod], [aptFacCod], [aptFacPerCod], [aptFacCtrCod], [aptFacVersion], [aptTipo]) VALUES (N'gmdesousa', 1, N'000001', 4720, 1, 1)
GO
