USE [ACUAMA_GUADALAJARA_PRE]
GO
/****** Object:  Table [Trabajo].[apremiosTrab]    Script Date: 11/06/2024 17:07:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Trabajo].[apremiosTrab](
	[aptUsrCod] [varchar](10) NOT NULL,
	[aptFacCod] [smallint] NOT NULL,
	[aptFacPerCod] [varchar](6) NOT NULL,
	[aptFacCtrCod] [int] NOT NULL,
	[aptFacVersion] [smallint] NOT NULL,
	[aptTipo] [smallint] NOT NULL
) ON [PRIMARY]
GO
INSERT [Trabajo].[apremiosTrab] ([aptUsrCod], [aptFacCod], [aptFacPerCod], [aptFacCtrCod], [aptFacVersion], [aptTipo]) VALUES (N'gmdesousa', 1, N'000001', 89, 1, 1)
INSERT [Trabajo].[apremiosTrab] ([aptUsrCod], [aptFacCod], [aptFacPerCod], [aptFacCtrCod], [aptFacVersion], [aptTipo]) VALUES (N'gmdesousa', 1, N'000001', 1941, 1, 1)
INSERT [Trabajo].[apremiosTrab] ([aptUsrCod], [aptFacCod], [aptFacPerCod], [aptFacCtrCod], [aptFacVersion], [aptTipo]) VALUES (N'gmdesousa', 1, N'000001', 4720, 1, 1)
GO
